<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
</center>
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий

# <center>Домашнее задание 1. <br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://goo.gl/forms/pB1tDIArMvTUsIUg2).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [90]:
import pandas as pd
# чтоб картинки рисовались в тетрадке
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams['figure.figsize'] = (10, 8)

In [91]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [92]:
# Ваш код здесь

#len(data.index) used to find out number of rows in the DataFrame 

#number of Males

malesNum = len(data[data['sex'] == 'Male'].index)

print("Number of males equals %i." % (malesNum))

#number of females

malesNum = len(data[data['sex'] == 'Female'].index)

print("Number of females equals %i." % (malesNum))

# 2. Option:

data['sex'].value_counts()

Number of males equals 21790.
Number of females equals 10771.

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [93]:
# Ваш код здесь

#data[data['sex']=='Female']

data[data['sex']=='Female']['age'].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [94]:
# Ваш код здесь

gerNum = len(data[data['native-country'] == 'Germany'].index)

gerPer = gerNum/data.shape[0]*100

print("Proportion of Germans equals %f%%." % (gerPer))

Proportion of Germans equals 0.420749%.

**4. Постройте гистограмму распределения (*bar plot*) образования людей (признак *education*).**

In [95]:
#plt.rcParams['figure.figsize'] = (20, 16)
#sns.countplot(x="education", data=data, palette="Greens_d");

**5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [96]:
# Ваш код здесь

more50kNum = data[data['salary'] == '>50K'].mean()
less50kNum = data[data['salary'] == '<=50K'].mean()

stdmore50kNum = data[data['salary'] == '>50K'].std()
stdless50kNum = data[data['salary'] == '<=50K'].std()


print ("Avg age of >50K earners is %.0f, std deviation is %.0f" % (more50kNum['age'], stdmore50kNum['age']))
print ("Avg age of <=50K earners is %.0f, std deviation is %.0f" % (less50kNum['age'], stdless50kNum['age']))

Avg age of >50K earners is 44, std deviation is 11
Avg age of <=50K earners is 37, std deviation is 14

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education - Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [106]:
# Ваш код здесь

#people who get more than 50K #

data[(data['salary'] == '>50K') & ~((data['education'] == 'Bachelors')|
                                   (data['education'] == 'Prof-school')|
                                   (data['education'] == 'Assoc-acdm')|
                                   (data['education'] == 'Assoc-voc')|
                                   (data['education'] == 'Masters')|(data['education'] == 'Doctorate'))].shape[0]

# no , there are 3306 ppl wihtout higher education and earning more than 50K

3306

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [115]:
# Ваш код здесь


for (race, sex), sub_df in pd.groupby(data, ['race', 'sex']):
    print("Раса: {0}, пол: {1}".format(race, sex))
    print(sub_df['age'].describe())

Раса: Amer-Indian-Eskimo, пол: Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Раса: Amer-Indian-Eskimo, пол: Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
Раса: Asian-Pac-Islander, пол: Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
Раса: Asian-Pac-Islander, пол: Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
Раса: Black, пол: Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Раса: Black, пол: Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Раса: Other, пол: Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
Раса: Other, пол: Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
Раса: White, пол: Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Раса: White, пол: Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [99]:
# Ваш код здесь

marriedMen = data[(data['salary'] == '>50K') & (data['sex'] == 'Male') &
                  ((data['marital-status'] == 'Married-civ-spouse')|
                  (data['marital-status'] == 'Married-spouse-absent')|
                  (data['marital-status'] == 'Married-AF-spouse'))].shape[0]

notmarriedMen = data[(data['salary'] == '>50K') & (data['sex'] == 'Male') &~
                  ((data['marital-status'] == 'Married-civ-spouse')|
                  (data['marital-status'] == 'Married-spouse-absent')|
                  (data['marital-status'] == 'Married-AF-spouse'))].shape[0]

print ("Men who earn more than 50k. Married men: %i. Single men: %i" % (marriedMen,notmarriedMen))


if marriedMen > notmarriedMen:
    print("There are more married men who earn mroe than 50K")
else:
    print("There are more single men who earn mroe than 50K")

Men who earn more than 50k. Married men: 5965. Single men: 697
There are more married men who earn mroe than 50K

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [116]:
# Ваш код здесь

maxWorkHrs = data['hours-per-week'].max()

workaholicsNum = data[data['hours-per-week'] == 99].shape[0]

richWorkaholicsNum= data[(data['salary'] == '>50K') & (data['hours-per-week'] == 99)].shape[0]

percentRichWorkaholics = richWorkaholicsNum/workaholicsNum*100;

print("Max working hours %i, number of workaholics %i,  Percentage of rich workaholics equals %.0f%%." % (maxWorkHrs,workaholicsNum,percentRichWorkaholics))

Max working hours 99, number of workaholics 85,  Percentage of rich workaholics equals 29%.

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [117]:
# Ваш код здесь


for (country, salary), sub_df in pd.groupby(data[data['salary'] == '>50K'], 
                            ['native-country', 'salary']):
    print(country, salary, round(sub_df['hours-per-week'].mean(), 2))

? >50K 45.55
Cambodia >50K 40.0
Canada >50K 45.64
China >50K 38.9
Columbia >50K 50.0
Cuba >50K 42.44
Dominican-Republic >50K 47.0
Ecuador >50K 48.75
El-Salvador >50K 45.0
England >50K 44.53
France >50K 50.75
Germany >50K 44.98
Greece >50K 50.62
Guatemala >50K 36.67
Haiti >50K 42.75
Honduras >50K 60.0
Hong >50K 45.0
Hungary >50K 50.0
India >50K 46.48
Iran >50K 47.5
Ireland >50K 48.0
Italy >50K 45.4
Jamaica >50K 41.1
Japan >50K 47.96
Laos >50K 40.0
Mexico >50K 46.58
Nicaragua >50K 37.5
Peru >50K 40.0
Philippines >50K 43.03
Poland >50K 39.0
Portugal >50K 41.5
Puerto-Rico >50K 39.42
Scotland >50K 46.67
South >50K 51.44
Taiwan >50K 46.8
Thailand >50K 58.33
Trinadad&Tobago >50K 40.0
United-States >50K 45.51
Vietnam >50K 39.2
Yugoslavia >50K 49.5